<section class="emp-details">
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto bg-light p-5 rounded">
                <h2>Employee Details</h2>
                <h6>Id: {{employee.id}}</h6>
                <h6>First Name: {{employee.firstname}}</h6>
                <h6>Last Name: {{employee.lastname}}</h6>
                <h6>Email: {{employee.email}}</h6>
                <h6>Phone Number: {{employee.phone}}</h6>
                <h6>Designation: {{employee.Designation}}</h6>
            </div>
        </div>
    </div>
</section>