<!-- https://63cfa73c8a780ae6e679d32e.mockapi.io/emp/ -->
<!-- https://mockapi.io/projects -->
<!-- https://www.javaguides.net/2021/08/angular-crud-example.html -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/Images/angular-svgrepo-com (1).svg" alt="Bootstrap" width="50" height="50">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" routerLink="employees">Employee List</a>
        <a class="nav-link" routerLink="create-employee">Add Employee</a>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>